---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a>
		<h1>Esta sera una app para llevar un control de apuestas</h1>
        <p>En ella se podra elegir el partido al que se quiere apostar, ingresar la cantidad a apostar, la cuota de la apuesta, y al finalizar el partido podras ver si ganaste o perdiste y cuanto subio tu bank inicial</p>
        <p>Este es un trabajo en proceso y se ira mejorando con el paso del tiempo</p>
	</body>
</html>
